:root {
  --tile-w: 42px;
  --tile-h: 60px;
  --pad-x: 11px;
  --pad-y: 2px;
  --gap-x: 22px;
  --gap-y: 4px;
  --atlas: url('/cardsLarge_tilemap_packed.png');
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
}
